:root {
  --borders: #fafaff;
  --links: #af8fff;
  --text: #96d7ff;
  --headers: #00ffd0;
  --background: #13192c;
  --menu-bg: #05888d;
  --buttons: #1d4b95;
}


html {
  background-color: var(--background);
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--headers);
  text-align: center;
}

h2 {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--headers);
  text-align: center;
}

p {
  color: var(--text);
}

ul {
  color: #f4f4f4;
  list-style-type: none;
  padding: 1rem;
}

a {
  color: var(--links);
  text-decoration: none;
}


hr {
  height: 2px;
  color: #FFF;
}

/* socials */

  .socials {
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--buttons);
    text-decoration: none;
  }

   .socials:hover {
    color: var(--buttons);
    background-color: white;
    transition: 0.3s;
  }

/* nav styles */

.menu {
  background-color: var(--menu-bg);
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 1rem auto;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  background-color: var(--menu-bg);
}

.nav-links a:hover,
.nav-links a:focus {
    color: #008062;
    background-color: white;
    transition: 0.3s;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: flex;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .menu {
    display: none;
  }
}