---
import BaseLayout from '../../layouts/baselayout.astro';
const pageTitle = "Tag Index";
const allPosts = Object.values(import.meta.glob('../posts/*.md', {eager: true}));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
  <div>{tags.map((tag) => 
  <p>{tag}</p>)}
</div>
</BaseLayout>