---
---

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #008062;
    text-decoration: none;
  }

  a:hover {
    color: #008062;
    background-color: white;
    transition: 0.3s;
  }
</style>

<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>