---
import BaseLayout from './baselayout.astro';
const { frontmatter } = Astro.props;

---
<BaseLayout pageTitle={frontmatter.title}>


<body>

<p class="blog-header">Written by {frontmatter.author}</p>
<p class="blog-header">Published on {frontmatter.pubDate.toString().slice(0,10)}</p>
<br>

<slot />  
</body>

<style>
    .blog-header {
        text-align: center;
        margin: auto;
    }
</style>
</BaseLayout>
